<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">
                Hi, I am MehrAvar.
                I was born on March 23rd 1995. I have studied Architecture in University of Mazandaran.
                After graduating, due to my love for art in general and graphic design and animation in particular, I attended motion graphic courses at inverse school  to deepen my understanding of the field and strengthen my techniques. I believe that the horizons of art are limitless, so is my passion for experiencing various aspects of it. But my expertise lies in the motion design field.
                </p>
                <br>
                <a href="#portfolio" class="page-scroll btn btn-default btn-xl">See my Portfolio</a>
            </div>
        </div>
    </div>
</section>
