<footer class="nb-footer">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="about">
  <div class="social-media">
    <ul class="list-inline">
        <li><a href="https://linkedin.com/{{ site.linkedin_username}}" title=""><i class="fa fa-linkedin"></i></a></li>
        <li><a href="http://www.instagram.com/{{ site.instagram_username }}" title=""><i class="fa fa-instagram"></i></a></li>
      <li><a href="http://www.twitter.com/{{ site.twitter_username }}" title=""><i class="fa fa-twitter"></i></a></li>
      <li><a href="http://www.github.com/{{ site.github_username }}" title=""><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Help Center</h2>
  <ul class="list-unstyled">
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> How to Pay</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sitemap</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Delivery Info</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Customer information</h2>
  <ul class="list-unstyled">
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> About Us</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sell Your Items</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> RSS</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Links</h2>
  <ul class="list-unstyled">
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Terms Of Use</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Return / Refund Policy</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Store Locations</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
    <h2 class="title">Contact</h2>
    <p>
        I believe that the horizons of art are limitless, so is my passion for experiencing various aspects of it. But my expertise lies in the motion design field.
        <br>MehrAvar
    </p>
  
</div>
</div>
</div>
</div>

<section class="copyright">
<div class="container">
<div class="row">
<div class="col-sm-6">
<p>2022 © <a href="https://iamrf.github.io">iamrf</p>
</div>
<div class="col-sm-6"></div>
</div>
</div>
</section>
</footer>
